<ion-view view-title="">
    <ion-content class="padding">
   <div class="item item-divider bar-balanced">
        Saved Lists
        </div>
      <ion-list>

        <ion-item ng-repeat="item in PrevList" href="#/tab/listdetail/{{item.mobile_user_basketID}}" class="item-remove-animate">
          {{ item.DateSave | date:'yyyy-MM-dd HH:mm:ss'}}
          <ion-option-button class="button-assertive" ng-click="deleteItem(item)">
          Delete
        </ion-option-button>
        </ion-item>

      </ion-list>

    </ion-content>
    </ion-view>