<ion-view view-title="THE PRICE ACT">
   <ion-content class="padding">
    <div class="item">
       <center><strong>Republic Act No. 7581</strong></center>
    </div>
    <div class="card">
  <div class="item item-text-wrap">
   <center>AN ACT PROVIDING PROTECTION TO CONSUMERS BY STABILIZING THE PRICES OF BASIC NECESSITIES AND PRIME COMMODITIES AND BY PRESCRIBING MEASURES AGAINST UNDUE PRICE INCREASES DURING EMERGENCY SITUATIONS AND LIKE OCCASIONS.</center>
  </div>
  <div class="item item-text-wrap">
   <center>Sec. 2. <strong>Declaration of Basic Policy.</strong> - It is the policy of the State to ensure the availability of basic necessities and prime commodities at reasonable prices at all times without denying legitimate business a fair return on investment. It is also a declared policy of the State to provide effective and sufficient protection to consumers against hoarding, profiteering and cartels with respect to the supply, distribution, marketing and pricing of said goods, especially during periods of calamity, emergency, widespread illegal price manipulation and other similar situations.
</center>
  </div>
   <div class="item item-text-wrap">
   <center>Sec. 15. <strong>Penalty for Acts of Illegal Price Manipulation.</strong> - Any person who commits any act of illegal
price manipulation of any basic necessity or prime commodity under Section 5 hereof shall suffer the penalty of imprisonment for a period of not less than five (5) years nor more than Fifteen (15) years, and shall be imposed a fine of not less than Five thousand pesos (P5,000) nor more than Two million pesos (P2,000,000).
</center>
  </div>
  <div class="item item-text-wrap">
   <center>Sec. 16.<strong>Penalty for Violation of Price Ceiling.</strong> - Any person who violates Section 6 or 7 of this Act shall suffer the penalty of imprisonment for a period of not less than one (1) year nor more than ten (10) years of a fine of note less than Five thousand pesos (P5,000) nor more than One million pesos (P1,000,000), or both, at the discretion of the court.</center>
  </div>
</div>
<div class="item">
       <a href="#" onclick="window.open('http://www.dilg.gov.ph/PDF_File/issuances/republic_acts/RA_7581.PDF', '_system', 'location=yes'); return false;">Read More...</a>
    </div>
  </ion-content>
</ion-view>
