<ion-view view-title="Register" name="login-view">
  <ion-content class="padding">
  <div class="list list-inset">
     
          <form name="itemEdit" novalidate>
          
      <label class="item item-input item-stacked-label">
          <span class="input-label">Complete Name</span>
          <input type="text" placeholder="Ex. Juan Dela Cruz" ng-model="newAcc.completename">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Ex. Juan" ng-model="newAcc.username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="*****" ng-model="newAcc.password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="juan.delacruz@suhr.com" ng-model="newAcc.email">
        </label>
       <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile Number</span>
          <input type="text" placeholder="Ex. 092619+++" ng-model="newAcc.contact">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Complete Address</span>
          <input type="text" placeholder="Ex. Brgy.31 Agusan Ave. Cagayan de Oro City" ng-model="newAcc.address">
        </label>
           
          </form>
       </div>
      <div class="row">
       <button class="button button-block button-assertive" ng-click="registercancel()">Cancel</button>
       </div>
       <div class="row">
        <button class="button button-block button-calm" ng-click="register(newAcc)">Register</button>
      </div>
  </ion-content>
</ion-view>