<ion-view view-title="My Account">
<ion-nav-buttons side="right">
  <button class="button button-outline button-light" ng-click="logout()">
    <strong>   Logout</strong>
  </button>
</ion-nav-buttons>
   <ion-content class="padding">
   <div class="card">
  <div class="item item-text-wrap">
    <h1><center>Happy Shopping!</center></h1>
  </div>
  <div class="item">
   <a href="#/tab/list"  class="button button-full button-positive">
  My Baskets
</a></div>
<div class="item">
<a href="#/tab/Org" class="button button-full button-positive">
  Price related Offices
</a></div>
<div class="item" ng-hide='Option == 0 '>
<a href="#/tab/PriceFrezeInfo" class="button button-full button-assertive" >
  Price Act(Price Freze)
</a></div>

</div>
<div class="item item-text-wrap">
    <center><strong>"Be Wise Use PriceWise."</strong></center>
  </div>
   
  </ion-content>
</ion-view>
